*.o
examples/state_example
experiments/fsm_xmacro
unity/
Unity/
Unity/src/
unit_tests/tests
xmacro/fsm_xmacro

*.bin
esp32/build/*
esp32/main/build/*

bin/
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
